article, header > h3, header > h4, small > h5, small > h6, .proportion, .mar6 {
	margin-top: 6px;
	margin-bottom: 6px;
}

small > h6 {
	margin-top: 0px;
	margin-bottom: 6px;
}

body > header, body > footer, nav > ul > li, article > header, .pad6 {
	padding-top: 6px;
	padding-bottom: 6px;
	margin-bottom: 0px;
}

article > header {
	margin-bottom: 6px;
}

article {
	padding-bottom: 6px;
}

header {
	border-bottom: 2px solid #1095c1;
}

#aPropos {
	text-align: center;
	font-size: 0.75em;
}

.toggledroite {
	float: right;
}

.slider {
    display: grid;
    grid-template: 1/1;
}

.slide {
    grid-area: 1/1;
    display: block;
    transition: all .3s 0s cubic-bezier(.5, 0, .5, 1);
    transition-property: opacity, transform;
}

.slide[hidden] {
    transition-delay: 0;
    opacity: 0;
    transform: scale(0);
	max-height: 0;
}
  
.divBtnCatCont {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 12px;
	grid-row-gap: 0px;
}

.divBtnCat1 { grid-area: 1 / 1 / 2 / 2; }
.divBtnCat2 { grid-area: 1 / 2 / 2 / 3; }
.divBtnCat3 { grid-area: 1 / 3 / 2 / 4; } 

.nombres {
	margin: 10px auto;
	text-align: center;
}

.reponse {
	color: #0fcc02;
}

.proportion tr, .proportion td {
	text-align: center;
	border: 2px solid currentColor;
}

.proportion {
	display: block;
	width: max-content;
	margin: 6px auto;
	background-color: #ffffff;
}

.fraction {
  display: inline-flex;
  flex-direction: column;
  padding: 1em;
  align-items: center;
}

.numerateur {
  border-bottom: 2px solid grey;
}

.icon12 {
	height: 12px;
	width: 12px;
	background-color: currentColor;
}

.icon20 {
	height: 20px;
	width: 20px;
}

.iconBtn {
	width: 32px;
	max-width: 32px;
	filter: invert(100%) sepia(0%) saturate(7479%) hue-rotate(302deg) brightness(107%) contrast(103%);
}

.iconblue {
	filter: invert(76%) sepia(65%) saturate(6451%) hue-rotate(189deg) brightness(98%) contrast(101%);
}

.icongreen {
	filter: invert(48%) sepia(46%) saturate(540%) hue-rotate(98deg) brightness(94%) contrast(91%);
}

.iconyellow {
	filter: invert(72%) sepia(81%) saturate(711%) hue-rotate(1deg) brightness(99%) contrast(100%);
}

.iconorange {
	filter: invert(39%) sepia(64%) saturate(2581%) hue-rotate(5deg) brightness(102%) contrast(101%);
}

.iconred {
	filter: invert(11%) sepia(91%) saturate(4956%) hue-rotate(357deg) brightness(96%) contrast(111%);
}
