@import url("https://fonts.googleapis.com/css?family=Neucha|Patrick+Hand+SC");
@page {
	size: A5 landscape;
	margin: 0;
}
html {
	font-family: "Neucha", sans-serif;
}
html, body, main, #slide2, #corps, #questions {
	width: 210mm;
	margin: 0;
}
body > header {
	display: none;
}
article > header {
	background-color: #BAE7DB;
	margin-bottom: 1mm;
}
.pageQuestions::before {
	content: "Nom : ...................................................... Prénom : ...................................................... Date : ........................................";
	font-size: 0.7em;
}
.pageQuestions {
	padding-top: 5mm;
	padding-left: 12.5mm;
	break-after: always;
}
.divQuestion {
	padding: 1mm 0 1mm 0;
	border-bottom : black 1px solid;
	margin-right: 3mm;
}
.divQuestion::after {
	background: url('../images/printBG.svg') no-repeat;
	content: " ";
	display: inline-block;
	width: 91mm;
	height: 42mm;
	margin-left: 2mm;
}
article {
	width: 100mm;
	border: 2px solid #1CAF87;
	border-radius: 3px;
	height: 42mm;
	float: left;
}
article > div {
	padding: 0 1mm 1mm 1mm;
	font-size: 0.7em;
	line-height: 1.5;
}
article > div > .grid {
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(0%,1fr));
}
header > small > div > div > h5, header > small > div > div > h6 {
	display: inline;
}
.nombres {
	margin: 10px auto;
	text-align: center;
}
.nombres div {
	padding: 10px 0;
}
.proportion tr, .proportion td {
	text-align: center;
	border: 1px solid #1CAF87;
}
.proportion td, .proportion th {
	padding: 1mm 3mm;
}
.proportion th {
	background-color: #EAF7F4;
}
.proportion {
	border-collapse: collapse;
	display: block;
	width: max-content;
	margin: 6px auto;
}
